@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Oxygen", sans-serif;
}

/* FONTS */

.gridTitle {
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 1px;
}
.gridNumber {
  font-size: 60px;
  font-weight: 300;
}

.gridTitleSmall {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
}
.gridNumberSmall {
  font-size: 50px;
  font-weight: 200;
  letter-spacing: 1px;
}

.gridPanel {
  border-radius: 15px;
  background-color: white;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
