@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* FONTS */

.gridTitle {
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 1px;
}
.gridNumber {
  font-size: 60px;
  font-weight: 300;
}

.gridTitleSmall {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
}
.gridNumberSmall {
  font-size: 50px;
  font-weight: 200;
  letter-spacing: 1px;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.centerCont {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  align-items: flex-start;
  gap: 2rem;
  width: 90%;
  padding: 1rem;
}

/* FONTS */

.bodyFont {
  font-family: "Inter", serif;
  font-weight: 300;
  font-size: 14px;

  color: white;
}

.bodyLilBigger {
  font-family: "Inter", serif;
  font-weight: 300;
  font-size: 16px;

  line-height: 25px;
  color: white;
}

.bodyBold {
  font-weight: 500;
}

.littleSubtitle {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 24px;

  color: white;
}
